body, p, h1{
    margin: 0;
}

.side-padding{
    padding-left: 10%;
    padding-right: 10%;
}

.mt-40{
    margin-top: 40px;
}


.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;

    
    
}

.jc-sb{
    justify-content: space-between;
}


header{
    height: 110px;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

header > * {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    padding-right: 2%;
    border-right: 1px solid #EFEFEF;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-weight: 500;
}

.actions{
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.action_button{
    height: 50px;
    border-radius: 60px;
    box-sizing: border-box;
    padding: 18px 40px;
    background-color: white;
    font-weight: 900;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.purple-bg{
    background-color: #3D00B7;
    color: #fff;
    transition-duration: 0.5s;
}

.purple-b{
    border: 2px solid #3D00B7;
}

.purple-t{
    color: #3D00B7;
}


.action_input{
    height: 50px;
    border-radius: 60px;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    width: 300px;
    padding: 0 20px;
}

input::placeholder{
    font-weight: 700;
    color: #b1b1b1;
}

.top{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.top_left{
    width: 50%;
    
}
#img{
    z-index: -1;
    position: relative;
    left: -48px;
    top: -179px;  
    width: 173px;
    height: 160px;      
}

.title{
    font-size: 48px;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
}
.title-h{
    font-size: 28px;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    line-height: 34px;
}

.subtitle{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #565656;
    line-height: 32px;
}

.statistics{
    width: 70%;
}
.top-right{
   
    margin-right: 3%;
}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 300px;
    
    background-color: rgba(217, 224, 236, 0.2);
    
    
}
.w-250{
    width: 250px;
}
.mb-20{
    margin-bottom: 50px;
}
.title-small{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 5px;
}
.text-small{
    font-size: 14px;
    font-weight: 500;
    color: #696969;
    line-height: 22px;
    font-family: 'DM Sans', sans-serif;
}
.text-small2{
    font-size: 14px;
    font-weight: 400;
    color: #363639;
    line-height: 22px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 24px;
}
#icon-1{
    position: relative;
}
#icon-1::before{
    content: url(../img/card-tick-1\ 1.png);
    position: absolute;
    left: -55px;
    top: -6px;

}
#icon-2{
    position: relative;
}
#icon-2::before{
    content: url(../img/chart-square\ 2.png);
    position: absolute;
    left: -55px;
    top: -6px;

}
.top-collections{
   
    height: 808px;
    padding-top: 134px;
    box-sizing: border-box;
}
.lr{
    border-left: 1px solid #ECECEC;
    padding-left: 35px;
    
}
.top-collections-over{
    width: 30%;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between

}
.big-img{
    
    width: 400px;
    height: 424px;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.flex-info{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    width: 335px;
    padding-bottom: 40px;
    
    
}
#big-ava{
    position: relative;
}
#big-ava::before{
    content: url(../img/new.png);
    position: absolute;
    left: -60px;
    
}
.title-small-text{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #3A3A3A;
    margin-bottom: 5px;
    padding-right: 10px;
    margin-left: -45px;
}
.price{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    line-height: 21px;
    font-family: 'DM Sans';
    color: #3A3A3A;
    position: relative;
    margin-left: -30px;
    
}
.price::before{
    content: url(../img/new12.png);
    position: absolute;
    left: -25px;
   
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    width: 400px;
    
}
.small-img{
    background-image: url(../img/new3.png);
    width: 147px;
    height: 147px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.small-img1{
    background-image: url(../img/new7.png);
    width: 147px;
    height: 147px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.small-img2{
    background-image: url(../img/new8.png);
    width: 147px;
    height: 147px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.price-green{
    position: relative;
    border: 1px solid #00AC4F;
    color: #00AC4F;
    border-radius: 5px;
    padding: 8px 8px 8px 25px;
    margin: 10px;
    font-family: 'DM Sans';
}
.price-green::before{
    content: url(../img/new11.png);
    position: absolute;
    left: 10px;
}
.card-left-side{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.button-sm{
    width: 153px;
    cursor: pointer;
}
.button-sm:hover{
    background-color: white;
    color: #3D00B7;
    

}
h3{
    margin: 0;
}
.title-24{
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;

}
.block{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;

   
    box-sizing: border-box;
}

hr{
    margin: 15px -30px;
    background-color: rgba(0, 0, 0, 0.08);
    border-top: 1px solid transparent;
    border-bottom: none;
}
ol{
    list-style-type: none;
    counter-reset: my-counter;
    margin-top: 25px;
}
li{
    position: relative;
}
li::before{ 
    content: counter(my-counter);
    counter-increment: my-counter;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    font-family: 'DM Sans';
    position: absolute;
    top: 15px;
    left: -30px;
}
.log{
    position: relative;
    left: -25px;
    top: -35px;
}
.info-number{
    font-size: 14px;
    font-weight: 600;
    color: #696969;
    line-height: 14px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    margin-top: 15px;
}
.info-number::before{
    content: url(../img/new12.png);
    position: absolute;
    left: -20px;
    top: -5px;
   
}
.nav_item{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'DM Sans';
    color: #000000;
    
    
    position: relative;
    left: -20px;
}
.percent{
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    color: #14C8B0;
    transition-duration: 0.5s;
    font-family: 'Poppins', sans-serif;

}
.text-time{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    font-family: 'DM Sans';
    color: #3D00B7;
    margin-bottom: 5px;
}
#text-left{
    margin-left: -50px;
}
.percent:hover{
    color: #ff0000;
}
.l-f-b{
    display: flex;
    justify-content: space-between;
}
.line-flex{
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    height: 600px;
    box-sizing: border-box;
    background-color: rgba(217, 224, 236, 0.2);
    
    
    
}
.block-y{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.block-four{
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
}
.small-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'DM Sans';
    color: #000000;
    position: relative;
    margin-left: 40px;
    
}
.small-text::before{
    content: url(../img/less\ \(1\).png);
    position: absolute;
    left: -40px;
    top: -5px;
}
.line-flex-block{
    width: 30%;
    height: 400px;
    margin-top: 40px;
    
}
.line-flex-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin-top: 15px;
    
}
.small-button{
    width: 98px;
    height: 29px;
    font-size: 11px;
    font-weight: 700;
    background-color: #fff;
    color: #2639ED;
    border: 1px solid #2639ED;
    border-radius: 60px;
    font-family: 'DM Sans';
    cursor: pointer;
}
.img-bottom{
    margin: 5px 10px 3px 10px;
}
.block_create{
    height: 790px;
    display: flex;
    justify-content: space-between;
}
.three-cards{
    position: relative;
    width: 50%;
}
.card1{
    position: absolute;
    
    top: 102px;
}
.card2{
    position: absolute;
    top: 240px;
    left: 364px;
}
.card3{
    position: absolute;
    top: 454px;
    left: 105px;
}
.img-block_create{
    position: relative;
}
.ava_create{
    position: absolute;
    right: -35px;
    bottom:-25px;
}
.text-create{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 200px;
}

.title-create{
    font-size: 32px;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    line-height: 38px;
    margin-top: 240px;
    width: 320px;
}
span{
    width: 517px;
}
#size-bottom{
    max-width: 212px;
    max-height: 65px;
}
.big-block{
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    height: 2000px;
    box-sizing: border-box;
    background-color: rgba(217, 224, 236, 0.2);
}
.text-discover{
    font-size: 34px;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    line-height: 40px;
    
}
.category{
    background-color: rgba(220, 220, 220, 0.2);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'DM Sans';
    border: 1px solid transparent;
    padding: 10px 20px;
    transition-duration: 0.5s;
    margin-right: 12px;
}

.last-button{
    color: #371C87;
    cursor: pointer;
    
}
.last-button::before{
    content: url(../img/Line.png);
    
}

.line-button{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    cursor: pointer;
}
.category:hover{
    background-color: #3D00B7;
    color: #fff;
    

}
#price-green{
    border: none;
    margin: 0;
    font-size: 11px;
    font-weight: 700;
}
.ml-25{
    margin-left: 25px;
}
.st-text{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.price_page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    margin: 0 23px 10px 15px;
    padding-bottom: 10px;
}
.time-bid{
    display: flex;
    justify-content: space-around;
}
.text-bid{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'DM Sans';
    color:  #4F33A3;
}
.time-button{
    font-size: 11px;
    line-height: 19px;
    font-weight: 700;
    color: #5539A8;
    font-family: 'DM Sans';
    padding: 4px 11px 4px 11px;
    background-color: #F5F5F5;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.card-board{
    width: 247px;
    height: 222px;
    margin: 11px;
}
.card-info-line{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 373px;
    background-color: #fff;
    border-radius: 13px;
    border: 1px solid rgba(242, 242, 242, 0.5);
    margin: 0 40px 40px 0;
}
.line-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board{
    display: flex;
    flex-direction: column;
}
.button-more{
    margin: 0 auto;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
footer{
    height: 500px;
}

.line-footer{
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    justify-content: space-between;
    height: 456px;
    padding-top: 79px;
    box-sizing: border-box;
}

.side-1{
    width: 30%;

}
.side-2{
    width: 15%;

}
.side-3{
    width: 15%;

}
.side-4{
    width: 30%;

}
.footer-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'DM Sans', sans-serif;
    color: #3D3D3D;
    margin-top: 20px;
    
}
.networks{
    margin-top: 32px;
}
.input-button{
    width: 364px;
    height: 60px;
    border-radius: 45px;
    border: 2px solid #F1F1F1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
}
input{
    border: none;
    outline: none;

}
.button-footer{
    width: 150px;
    height: 46px;
    background-color: #2639ED;
    color: #fff;
    border-radius: 45px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}
.copyright{
    font-size: 14px;
    font-weight: 500;
    color: #A4A4A4;
    line-height: 22px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}