body{
    margin: 0;   
}    
header{
    height: 110px;
    border-bottom: 0.5px solid #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > * {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 15%;
    border-right: 0.5px solid #F4F4F4;   
    box-sizing: border-box;
}
img{
    width: 107px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 5%;
    
}
.nav-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;

}
.actions{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 5%;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #EFEFEF;
}
.purple-bg{
    width: 131px;
    height: 50px;
    border-radius: 60px;
    background-color: #3D00B7;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid transparent;
}
.purple-b{
    width: 140px;
    height: 50px;
    border-radius: 60px;
    background-color: #fff;
    border: 2px solid #3D00B7;
    color: #3D00B7;
    font-size: 14px;
    font-weight: 700;
}
.side-padding1{
    margin: 5%;
}
h1{
    width: 612px;
    height: 96px;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;

}
.text-1{
    width: 471px;
    height: 96px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #565656;
}
.purple-ex{
    width: 209px;
    height: 65px;
    border-radius: 60px;
    color: #fff;
    background-color: #3D00B7;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 400;
    
}
.text-2{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.info{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    font-family: 'Archivo Black', sans-serif;
}
.md-1{
    width: 50%;
    margin: 0;
    
}